dir_path=$(cd "$(dirname "$0")" && pwd)

export CHATGPT_BASE_URL="http://127.0.0.1:8080/api/"

echo "##################################"
echo "###### UPDATE CODE ###############"
echo "##################################"

git pull -r

echo "##################################"
echo "###### RUN engine server #########"
echo "##################################"



engine_pid=$(ps -ef | awk '/python main.py/{print $2}')

client_pid=$(ps -ef | awk '/chatgpt-bot/{print $2}')

cd "$dir_path/../engine" || exit

echo "kill engine..."

kill $engine_pid

echo "kill engine done"

source venv/bin/activate

pip install -r requirements.txt --upgrade

nohup python main.py -c ../etc/config.yaml > /tmp/engine.log &

echo "run engine success"

echo "##################################"
echo "###### RUN client ################"
echo "##################################"

cd "$dir_path/../client" || exit

$dir_path/build.sh

nohup $dir_path/chatgpt-bot -c ../etc/config.yaml > /tmp/client.log &

echo "run client success."

echo "kill client.."

kill $client_pid

echo "kill client done"

echo "Reboot success."

